/* --------------------------
 ELEMENT CENTER
---------------------------*/

@mixin centerElement($width: auto, $padding-left: 0, $padding-right: 0) {
    margin: auto;
    padding-left: $padding-left;
    padding-right: $padding-right;
    max-width: $width;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

    &__text, &__subText {
    	text-align: center;
    }
}
