/* --------------------------
 CLEARFIX
---------------------------*/

@mixin clearfix(){
    &::before,
    &::after{
        content: '';
        background-image: none;
        display: table;
    }
    &::after{
        clear: both;
    }
}