@import url('https://fonts.googleapis.com/css?family=Ubuntu');

h1,
h2,
h3,
h4,
h5,
p,
b,
em,
i,
u,
strong,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3vw;
    margin: 0;
    padding: 0;
}

/*Navigation bar*/

#company-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1%;
    width: 19%;
    height: 50px;
    font-weight: bold;
}

.company-link {
    text-decoration: none;
    color: #433E0E;
}

#navbar {
    z-index:4;
    display: flex;
    top: 0;
    position: fixed;
    width: 100%;
    align-items: center;
    background:#216556;
    background: #AEE5D8;
    height: 50px;
    box-shadow: 1px 1px 5px #433E0E;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    height: 50px;
    width: 80%;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.333%;
    padding-right: 1.333%;
    width: 12%;
    height: 100%;
}

.navbar-list:hover {
    background: #EDEEC0;
}

a.nav-link {
    text-decoration: none;
    color: #433E0E;
    font-weight: bold;
}

/*End of Navigation Bar*/

/*Column Specific Widths*/
.col {

    width: 100%;
}

.col-xl {
    width: 83.334%;
}

.col-l {
    width: 66.667%;
}

.col-m {
    width: 50.000%;
}

.col-s {
    width: 33.333%;
}

.col-xs {
    width: 16.667%;
}

/*Template specific settings*/

/*Welcome Section*/

#welcome-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #d0f4e2;
    text-align: center;
    flex-direction: column;
    /* background:url('https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif') no-repeat fixed center;
    background-size:100%; */
}

.welcome-img {
    width: 250px;
    max-width: 100%;
    height: auto;
}

/*End of Welcome Section*/

#dream {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #9be8c1;
    text-align: center;
    flex-direction: column;
}

#skills {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #cdf3e0;
    text-align: center;
    flex-direction: column;
}

.col-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* .skill-frame {
    padding-top: 30vh;
    padding-bottom: 30vh;
} */

#skills-container{
    z-index:2;
    padding-top:20vh;
    padding-bottom:20vh;
}

#chart1, #chart2, #chart3, #chart4 {
    width: 300px;
    max-width:100%;
    height:auto;
  }


/* }

.skill-container {
    height: 60px;
    width: 33vw;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-label {

    /* border-radius:10px;
    padding: 10px;
    /* background:#2db973; 
}

.skill-bar {
    margin-left: 1vh;
    height: 6vh;
}
 */



/*Section Header*/
section>header,
section>div.col>header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: #D0C88E;
    background: #AEE5D8;
}

section>header>i,
section>div.col>header>i {
    margin-right: 3vh;
}

/*End of Section Header*/

/*Projects*/
#My_Projects {
    min-height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#project-list {
    background: #fafaed;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2vh;
}

#project-list>li {
    display: flex;
    justify-content: center;
    flex: 1 0 0%;
    padding: 1%;
}

.project-link {
    text-decoration: none;
    font-weight: bold;
    color: #433E0E;
}

.project-container {
    width: 300px;
    height: 380px;
}

.project-container:hover {
    cursor: pointer;
}

.project-title {
    text-align: center;
}

.project-container>img {
    width: 300px;
    height: 300px;
}

.project-img {
    max-width: 100%;
    height: auto;
}

.project-img:hover {
    background: #433E0E;
}

.project-title a:link {
    text-decoration: none;
}

/*End of Projects*/

#Social_media {
    min-height: 7%;
    padding-bottom: 2%;
}

.social-container {
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.social-list-item {
    width: 20%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.social-link {
    text-decoration: none;
    font-weight: bold;
    color: #433E0E;
}

/*Mobiles Phones*/
@media only screen and (max-width:600px) {

    #company-name {
        width: 100%;
    }

    body {
        font-size: 4.2vw;
    }

    #navbar {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
    }

    #brand-id {
        width: 100%;
        justify-content: center;
    }

    .navbar-container {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 200px;
        background: #d0f4e2;
    }

    .navbar-list {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-shadow: 1px 1px #78e0ac;
    }

    .skill-frame {
        width: 100%;
    }

    .skill-bar {
        height: 6vh;
    }

    .skill-container {
        width: 100%;
    }

    .skill-container>h4 {
        width: 20%;
    }

    .skill-container>i {
        width: 20%;
    }

    .skill-container>progress {
        width: 30%;
    }

}

/*Tablets*/
@media only screen and (min-width:768px) {
    body {
        font-size: 2.0vw;
    }

    .navbar-list {
        width: 15%;
    }

    .skill-frame {
        width: 100%;
    }

    .skill-bar {
        height: 6vh;
    }

    .skill-container {
        width: 100%;
    }

    .skill-container>h4 {
        width: 20%;
    }

    .skill-container>i {
        width: 20%;
    }

    .skill-container>progress {
        width: 30%;
    }


}

/*Computers/Laptops*/
@media only screen and (min-width:992px) {
    body {
        font-size: 1.6vw;
    }
}