section.kvSection
	div.kvSection__inner
		div.kvSection__inner__imageArea
			div(class="kvSection__inner__imageArea__image" alt="placeholder+image")
		div.kvSection__inner__textArea
			p.kvSection__inner__textArea__text  Lorem ipsum dolor sit amet