section.sectionKV
	div.sectionKV__inner
		//- SPECIFIC KV CLASS
		div.sectionKV__inner__imageArea(class="topSection")
			div(class="sectionKV__inner__imageArea__image" alt="placeholder+image")
		div.sectionKV__inner__textArea
			p.sectionKV__inner__textArea__text  Lorem ipsum dolor sit amet