section.section01
	div.section01__inner
		div.section01__inner__recentActivity
			h2.section01__inner__recentActivity__header RECENT ACTIVITY
			div.section01__inner__recentActivity__textArea(class="twitter-container")
				a(class="twitter-timeline" data-tweet-limit="1" data-height="500" data-width="600" data-chrome="nofooter noborders noscrollbar noheader transparent" href="https://twitter.com/markzev0?ref_src=twsrc%5Etfw") Tweets by markzev0
				script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
		div.section01__inner__about
			div.section01__inner__about__developerSkill
				h2.section01__inner__about__developerSkill__header KNOWLEDGE BASE
				div.section01__inner__about__developerSkill__skillList
					a.section01__inner__about__developerSkill__skillList__item(href="" target="_blank")
						i(class="fab fa-html5")
					a.section01__inner__about__developerSkill__skillList__item(href="" target="_blank")
						i(class="fab fa-css3-alt")
					a.section01__inner__about__developerSkill__skillList__item(href="" target="_blank")
						i(class="fab fa-js")
					a.section01__inner__about__developerSkill__skillList__item(href="" target="_blank")
						i(class="fab fa-sass")
					a.section01__inner__about__developerSkill__skillList__item(href="" target="_blank")
						i(class="fab fa-wordpress")
					a.section01__inner__about__developerSkill__skillList__item(href="https://git-scm.com/" target="_blank")
						i(class="fab fa-git")
					a.section01__inner__about__developerSkill__skillList__item(class="skill--text" href="https://pugjs.org/api/getting-started.html" target="_blank") PUGJS
					a.section01__inner__about__developerSkill__skillList__item(class="skill--text" href="http://getbem.com/" target="_blank") BEM