section.sectionKV
	div.sectionKV__inner
		//- SPECIFIC KV CLASS
		div.sectionKV__inner__imageArea(class="topSection")
			div(class="sectionKV__inner__imageArea__image")
			//- img(class="sectionKV__inner__imageArea__image" src="./assets/img/top/kvSection-bg-01.jpg")
		div.sectionKV__inner__textArea
			h1.sectionKV__inner__textArea__text Mark Angeo Calderon
			h2.sectionKV__inner__textArea__subText Front end web developer
