.introSec {
    &__inner {
        margin: auto;
        max-width: 1100px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__innerImageArea {
        margin-right: 50px;
        width: 400px;
        height: 400px;
    }
    
    &__innerImageThumb {
        border-radius: 50%;
    }

    &__innerParaText {
        font-size: 55px;
    }
}