.statSec {
	box-sizing: border-box;
	padding: 80px 50px;
	width: 100%;
	background: $white;
	position: relative;
	@include z-index(onTop);
	@include media(768px) {
		padding: 20px;
	}

	&__header {
		font: 500 50px $fontFamily;
		letter-spacing: .01em;
		@include media(768px) {
			font-size: 40px;
			text-align: center;
		}
	}

	&__listArea {
		margin-top: 50px;
		display: flex;
		justify-content: flex-start;
		flex-flow: nowrap;
		@include media(768px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__listAreaItem {
		width: calc(100% / 3 - 32px);
		min-width: 250px;
		height: 180px;
		overflow: hidden;
		position: relative;
		border-top-right-radius: 15px;
		cursor: pointer;
		@include media(768px) {
			width: 100%;
		}
		
		&:not(:nth-child(3n)) {
			margin-right: 47px;
			@media screen and (max-width: 768px) {
				margin-right: 0;
			}
		}
		
		&:nth-child(n+4) {
			margin-top: 47px;
			@media screen and (max-width: 768px) {
				margin-top: 0;
			}
		}

		&:not(:first-child) {
			@media screen and (max-width: 768px) {
				margin-top: 20px;
			}
		}

		&:after {
			content: '';
			width: 50%;
			height: 10px;
			position: absolute;
			bottom: 36px;
			right: 0;
			background: rgba(#000, 0.7);
			transition: 1s ease;
		}

		&:hover {
		
			.thumbArea__bg  {
				transform: scale(1.1);
			}

			&:after {
				background: #516124;
				width: 90%;
			}

			.item__title {
				color: #516124;
			}

			.thumbArea__statContent {
				transform: scale(1.5);
			}
		}
	

	}

	&__title {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background: white;
		padding-top: 10px;
		font-size: 30px;
	}

	&__listAreaImageArea {
		width: 100%;
		height: 250px;
	}

	&__listAreaImageThumb {
		transition: 1s ease;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__statContent {
		position: absolute;
		opacity: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 46px);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 1s ease;
		font-size: 40px;
		color: $white;
	}


}
