section.section02
	h2.section02__header DEVELOPMENT STATISTICS
	.section02__inner
		.inner__listArea
			.listArea__item
				figure.item__thumbArea
					div.thumbArea__bg(style="background-image: url('http://lorempixel.com/g/450/250/sports/1');")
					figcaption.thumbArea__statContent
						span.statContent__num01 17
				.item__title
					| PRODUCT/LANDING PAGE
			.listArea__item
				figure.item__thumbArea
					div.thumbArea__bg(style="background-image: url('http://lorempixel.com/g/450/250/sports/2');")
					figcaption.thumbArea__statContent
						span.statContent__num01 15
				.item__title
					| WORDPRESS THEMESd
			.listArea__item
				figure.item__thumbArea
					div.thumbArea__bg(style="background-image: url('http://lorempixel.com/g/450/250/sports/3');")
					figcaption.thumbArea__statContent
						span.statContent__num01 7
				.item__title
					| API/SURVEY/CONTACT FORM 

