section.section01
	.section01__behindText SERVICE
	.section01__inner
		.inner__serviceList
			.serviceList__item
				figure.serviceList__itemIcon
					i(class="fas fa-code")
					figcaption
						| TECHNOLOGY
			.serviceList__item
				figure.serviceList__itemIcon
					i(class="fab fa-searchengin")
					figcaption
						| OPTIMIZATION
			.serviceList__item
				figure.serviceList__itemIcon
					i(class="fab fa-wordpress")
					figcaption
						| MANAGEABILITY