/* --------------
FOOTER
---------------*/

.footerContainer {
    position: relative;
    height: 50px;
    width: 100%;
    background: $black;

    &__inner {

        &__site {

            &__logo {

            }
        }

        &__copyrightTextArea {

            &__text {

            }
        }
    }
}