/* --------------
HEADER
---------------*/

.headerContainer {
    width: 100%;
    position: fixed;
    @include z-index(header);
    
    &__inner {
        @include dFlexValue(type--all);

        &__site {
            @include hoverOpacity;
                max-width: 150px;

            &__name {
            }
        }

        &__directory {

            &__list {

                &__item {

                    a {
                        @include navButtonBlock(10px, 20px, 20px);
                        @include hoverOpacity;
                        text-transform: uppercase;
                        font: 700 20px $fontFamily;

                        i {
                            &.fab {
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media($maxMobileSize) {

}   