/* --------------
SECTION KV
---------------*/
.sectionKV {

    &__inner {
        position: relative;

        // COMMON RULES
        &__imageArea {

            &__image {
                
                height: 100vh;
            }
        }

        &__textArea {
            @include centerElement(700px, 20px, 20px);

            &__text, &__subText {
                font: 500 40px $fontFamily;
            }
        }
    }
}

// SPECIFIC PAGES (IMAGE)
.topSection {

    .sectionKV__inner__imageArea__image {
        background: center / cover no-repeat url('http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image');
    }
}
