/* ------------
ASIDE CONTAINER
--------------*/
.mainSection__container__aside {
    display: none;
    width: 200px;
    height: 672px;

    &__inner {
        @include dFlexValue(type--all);

        &__list {
            @include dFlexValue(type--direction--column);

            &__item {
            }
        }
    }
}