/* --------------
HEADER
---------------*/

.siteHeader {
    width: 100%;
    position: fixed;
    @include z-index(header);
    
    &__inner {
        @include dFlexValue(type--all);
    }

    &__innerSite {
        @include hoverOpacity;
            max-width: 150px;
    }


    &__innerDirectoryListItem {
        a {
            @include navButtonBlock(10px, 20px, 20px);
            @include hoverOpacity;
            text-transform: uppercase;
            font: 700 20px $fontFamily;
    
            i {
                &.fab {
                    font-size: 30px;
                }
            }
        }
    }
}
