/* --------------
SECTION KV
---------------*/
.sectionKV {
    // height: 800px;
    // overflow: hidden;

    &__inner {
        height: 100vh;
        position: relative;


        // COMMON RULES
        &__imageArea {
            @include z-index(kvImage);

            &__image {
                
                height: calc(100vh - 100px);
            }
        }

        &__textArea {
            @include centerElement(1000px, 20px, 20px);
            padding: 35px 0;

            &__text, &__subText {
                font: 300 60px $Roboto;
                text-transform: sentence;
            }

            &__subText {
                font: 100 25px $Roboto;
                text-transform: sentence;
            }
        }
    }
}

// SPECIFIC PAGES (IMAGE)
.topSection {

    .sectionKV__inner__imageArea__image {
        position: fixed;
        width: 100%;
        height: 100vh;
        // background: $black_2;
        background: center / cover no-repeat url('./../img/top/kvSection-bg-01.jpg');
    }
}
