footer.footerContainer
	div.footerContainer__inner
		div.footerContainer__inner__site
			img(class="footerContainer__inner__site__logo" src="http://placekitten.com/30/30" alt="footer logo")
		div.footerContainer__inner__copyrightTextArea
			span.footerContainer__inner__copyrightTextArea__text Copyright (C) 2019 #{site_name} All Rights Reserved.
|
|
// SCRIPT
|
//- SCRIPT CONFIGURATION [SET DIRECTORY ONLY]
if isSwiper
	script(src="./assets/js/vendor/swiper.min.js")
if isAOE
	link(href="./assets/js/aoe.js")
if isJQuery
	script(src="./assets/js/vendor/jquery-3.4.1.min.js")
//- END OF SCRIPT CONFIGURATION
|
script(src="./assets/js/main.js")
