header.headerContainer
	div.headerContainer__inner
		div.headerContainer__inner__site
			a(href="./")
				img.headerContainer__inner__name(src="./../assets/img/common/portfolio-02.png")
		div.headerContainer__inner__directory
			ul.headerContainer__inner__directory__list(class="flex__field")
				li.headerContainer__inner__directory__list__item
					a(href="https://twitter.com/markzev0" target="_blank")
						i(class="fab fa-twitter")
				li.headerContainer__inner__directory__list__item
					a(href="https://github.com/MarkCalderon" target="_blank")
						i(class="fab fa-github")
				li.headerContainer__inner__directory__list__item
					a(href="https://www.linkedin.com/in/markcalderon/" target="_blank")
						i(class="fab fa-linkedin")