header.headerContainer
	div.headerContainer__inner
		div.headerContainer__inner__site
			a(href="./")
				img.headerContainer__inner__name(src="http://placekitten.com/30/30")
		div.headerContainer__inner__directory
			ul.headerContainer__inner__directory__list(class="flex__field")
				li.headerContainer__inner__directory__list__item
					a(href="./") Home
				li.headerContainer__inner__directory__list__item
					a(href="./") About
				li.headerContainer__inner__directory__list__item
					a(href="./") Contact