//- META AND SITE SETTINGS
-var site_name = 'DEVCALDERON | front-end developer';
-var page_description = "Portfolio showcase by Mark Angeo G. Calderon";
-var page_keywords = "front-end developer, developer, software engineer";
-var page_title = "DEVCALDERON | a front end web developer";
-var page_type = "website";
-var page_url = "https://markcalderon.github.io/";
-var page_image = "http://XXXXXXXXXX.com/images/og.png";

-var isSocialSEO = false;
-var tw_app_card = "summary";
-var tw__site = "@markzev0";

//- Favicon (if provided)
-var isFavicon = true;

//- For External Scripts
-var isJQuery = false;
-var isSwiper = false;
-var isAOE = false;






