//- META AND SITE SETTINGS
-var site_name = 'TITLE';
-var page_description = "XXXXXXXXXXXXXXXXX";
-var page_keywords = "XXXXXXXXXXXXXXX";
-var page_title = "XXXXXXXXX";
-var page_type = "website";
-var page_url = "http://XXXXXXXXXX.com";
-var page_image = "http://XXXXXXXXXX.com/images/og.png";

-var isSocialSEO = false;
-var fb_app_id = "XXXXXXXXXXXXXXXX";
-var tw_app_card = "summary";
-var tw__site = "@XXXXX";
-var tw__creator = "@XXXXX";

//- Favicon (if provided)
-var isFavicon = false;

//- For External Scripts
-var isSwiper = false;
-var isAOE = false;
-var isJQuery = false;






